<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Financial App</title>
    <style>
        body{
            background-color: #0E100F;
            color: #16462A;
            font-family: arial;
            width: 100%;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
        }
        nav a{
            color: #16462A;
            text-decoration: none;
            display: block;
        }
        table { 
        width: 100px; 
        border-collapse: collapse; 
        }
        /* Zebra striping */
        tr:nth-of-type(odd) { 
        background: #eee; 
        }
        th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
        }
        td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1>Financial App</h1>
        <h2>Homepage</h2>
    </header>
        <% for(var i=0; i < payments.length; i++){ %>
    <form action="/dashboard/<%= payments[i].id %>?_method=PUT" method="post">
        <% } %>
        <label>Type of Payment:
            <select name="type" id="type">
                <option value="Mensal Payments">Mensal Payments</option>
                <option value="Extra Payments">Extra Payments</option>
                <option value="Loans">Loans</option>
                <option value="Others Payments">Others Payments</option>
            </select>
        </label>
        Value:<input type="number" name="value" id="value">
        <label>Month
            <select name="month" id="month">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </label>  
        <label>Year
            <select name="year" id="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
            </select>
        </label>  
        <label>Status:
            <select name="status" id="status">
                <option value="Paid out">Paid out</option>
                <option value="Unpaid">Unpaid</option>
            </select>
        </label>  
        <input type="submit" value="Submit">
    </form>

    <h1>My Payments</h1>
        <div id="payments-table">
            <table style="width:50%">  
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < payments.length; i++){ %>
                        <tr>
                            <td><%= payments[i].type %></td>
                            <td><%= payments[i].value %></td>
                            <td><%= payments[i].month %></td>
                            <td><%= payments[i].year %></td>
                            <td><%= payments[i].status %></td>
                            <td>
                                <form method="post" action="/dashboard/<%= payments[i].id %>/delete">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
</body>
</html>