<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Financial App</title>
    <style>
        body{
            background-color: #0E100F;
            color: #16462A;
            font-family: arial;
            width: 100%;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
        }
        nav a{
            color: #16462A;
            text-decoration: none;
            display: block;
        }
        table { 
        width: 100px; 
        border-collapse: collapse; 
        }
        /* Zebra striping */
        tr:nth-of-type(odd) { 
        background: #eee; 
        }
        th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
        }
        td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Financial App</h1>
        <h2>Homepage</h2>
    </header>
    <form action="/dashboard/<%= book.id %>?_method=PUT" method="post">
        <label>Type of Payment:
            <select name="type" id="type">
                <option value="Mensal Payments">Mensal Payments</option>
                <option value="Extra Payments">Extra Payments</option>
                <option value="Loans">Loans</option>
                <option value="Others Payments">Others Payments</option>
            </select>
        </label>
        Value:<input type="number" name="value" id="value">
        Month:<input type="month" name="month" id="month">  
        <label>Status:
            <select name="status" id="status">
                <option value="Paid out">Paid out</option>
                <option value="Unpaid">Unpaid</option>
            </select>
        </label>  
        <input type="submit" value="Submit">
    </form>

    <h1>My Payments</h1>
        <div id="payments-table">
            <table style="width:50%">  
                <thead>
                    <tr>
                        <th>type</th>
                        <th>value</th>
                        <th>month</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%= payments.type %></td>
                            <td><%= payments.value %></td>
                            <td><%= payments.month %></td>
                            <td><%= payments.status %></td>
                        </tr>
                </tbody>
            </table>
        </div>
</body>
</html>