<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Financial App</title>
    <style>
        body{
            background-color: #0E100F;
            color: #16462A;
            font-family: arial;
            width: 100%;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
        }
        nav a{
            color: #16462A;
            text-decoration: none;
            display: block;
        }
        table.payments-table {
        border: 1px solid #000000;
        background-color: #000000;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        }
        table.payments-table td, table.payments-table th {
        border: 1px solid #16462A;
        padding: 3px 4px;
        }
        table.payments-table tbody td {
        font-size: 13px;
        color: #16462A;
        }
        table.payments-table tr:nth-child(even) {
        background: #000000;
        }
        table.payments-table td:nth-child(even) {
        background: #000000;
        }
        table.payments-table thead {
        background: #000000;
        border-bottom: 0px solid #000000;
        }
        table.payments-table thead th {
        font-size: 16px;
        font-weight: bold;
        color: #16462A;
        text-align: center;
        border-left: 0px solid #000000;
        }
        table.payments-table thead th:first-child {
        border-left: none;
        }

        table.payments-table tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #010101;
        background: -moz-linear-gradient(top, #404040 0%, #1a1a1a 66%, #010101 100%);
        background: -webkit-linear-gradient(top, #404040 0%, #1a1a1a 66%, #010101 100%);
        background: linear-gradient(to bottom, #404040 0%, #1a1a1a 66%, #010101 100%);
        border-top: 2px solid #010101;
        }
        table.payments-table tfoot td {
        font-size: 14px;
        }
        .css-input { 
            padding:3px; 
            font-size:13px; 
            border-width:2px; 
            box-shadow: 1px 0px 0px 0px rgba(42,42,42,.75); 
            font-weight:normal; 
            text-align:center; 
            background-color:#000000; 
            border-color:#164622; 
            color:#164622; 
            border-radius:24px; 
            border-style:solid;  
        } 
        .css-input:focus { outline:none; }
        .myButton {
            background-color:#000000;
            border-radius:42px;
            border:2px solid #16441D;
            display:inline-block;
            cursor:pointer;
            color:#16441D;
            font-family:Arial;
            font-size:13px;
            padding:5px 20px;
            text-decoration:none;
        }

    </style>
</head>
<body>
    <nav>
        <ul id="menu">
            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h2>Dashboard</h2>
    </header>
    <div align="center">
        <form action="/dashboard/process-payment" method="post">
            <label>Type of Payment:
                <select name="type" id="type" class="css-input css-input:focus">
                    <option value="Mensal Payments">Mensal Payments</option>
                    <option value="Extra Payments">Extra Payments</option>
                    <option value="Loans">Loans</option>
                    <option value="Others Payments">Others Payments</option>
                </select>
            </label>
            Value:<input type="number" name="value" id="value" class="css-input css-input:focus">
            <label>Month
                <select name="month" id="month" class="css-input css-input:focus">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </label>  
            <label>Year
                <select name="year" id="year" class="css-input css-input:focus">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                </select>
            </label>
            <label>Status:
                <select name="status" id="status" class="css-input css-input:focus">
                    <option value="Paid out">Paid out</option>
                    <option value="Unpaid">Unpaid</option>
                </select>
            </label>  
            <input type="submit" class="myButton" value="Create Payment">
        </form>
    </div>

    <h3>My Payments</h3>
        <div id="payments-table" >
            <table style="width:50%" align="center">  
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < payments.length; i++){ %>
                        <tr>
                            <td align="center"><%= payments[i].type %></td>
                            <td align="center"><%= payments[i].value %></td>
                            <td align="center"><%= payments[i].month %></td>
                            <td align="center"><%= payments[i].year %></td>
                            <td align="center"><%= payments[i].status %></td>
                            <td align="center"><a class="myButton" href="/dashboard/<%= payments[i].id %>">Edit</a></td>
                            <td align="center"><form method="post" action="/dashboard/<%= payments[i].id %>/delete">
                                <button class="myButton" type="submit">Delete</button>
                            </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
</body>
</html>
